@import url("https://fonts.googleapis.com/css2?family=Finlandica:ital@1&family=Indie+Flower&family=Roboto+Mono:wght@200&display=swap");
html {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
}
a:link {
  color: black;
  text-decoration: none;
}
a:hover {
  color: rgb(23, 100, 163);
  text-decoration: none;
}
nav {
  position: sticky;
  top: 0px;
  z-index: 10;
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  background-color: aliceblue;
  padding-bottom: 3px;
}
.companylogo {
  font-size: 2em;
  font-family: "Indie Flower", cursive;
  margin-right: 21rem;
  margin-bottom: 0px;
  margin-top: 0px;
}
.navbarelements {
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.2rem;
  margin-left: 4rem;
  margin-top: 9px;
  color: whitesmoke;
}
.navbarelements:hover {
  color: #ff007b;
}

.productimage {
  width: 18em;
  height: 18em;
  margin-bottom: 0px;
}
.productimage:hover {
  width: 20em;
  height: 20em;
}
.clothessection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-bottom: 2rem;
}
.clothingitem {
  border: black 2px double;
  margin-bottom: 6px;
  width: 18em;
  background-color: aliceblue;
}
.clothingitem:hover {
  border: black 2px solid;
  margin-bottom: 6px;
  width: 20em;
  background-color: aliceblue;
}
.clothingitem p {
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
  text-align: center;
}
.introsection {
  display: flex;
  margin-bottom: 2em;
}
.introsection p {
  padding: 4em 2em;
  margin: 0 auto;
  font-size: 1.5rem;
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
}
.frontpicture {
  margin: 0 auto;
  max-width: 100%;
  height: 500px;
}
button {
  border: none;
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
  display: block;
  margin: 0 auto;
  background-color: aliceblue;
}
.furnituresection {
  border: red 3px solid;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.furnitureitem {
  border: greenyellow 2px solid;
  margin: 0 auto;
  max-width: 90%;
}
.furnitureitem p {
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
  margin: 0 auto;
}

.learningsection {
  border: red 3px solid;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.readingitem {
  border: greenyellow 2px solid;
  margin: 0 auto;
  max-width: 90%;
}
.readingitem p {
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
  margin: 0 auto;
}

.toysesection {
  border: red 3px solid;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.toyitem {
  border: greenyellow 2px solid;
  margin: 0 auto;
  max-width: 90%;
}
.toyitem p {
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
  margin: 0 auto;
}

.socialmediasection {
  background-color: #ffe9e3;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.smicon {
  font-size: 28px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  margin-left: 5px;
}

footer {
  color: black;
  font-family: "Indie Flower", cursive;
  text-align: center;
  font-size: 1.3rem;
  margin-top: 2rem;
}
