@import url("https://fonts.googleapis.com/css2?family=Finlandica:ital@1&family=Indie+Flower&family=Roboto+Mono:wght@200&display=swap");
html {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
}
a:link {
  color: black;
  text-decoration: none;
}
a:hover {
  color: rgb(23, 100, 163);
  text-decoration: none;
}
nav {
  display: flex;
  justify-content: flex-end;
  flex-wrap: nowrap;
  margin: 1rem 2rem;
}

.navbarelements {
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.5rem;
  margin-left: 3rem;
}
.navbarelements:hover {
  color: #ff007b;
}
h1 {
  font-size: 2.5em;
  font-family: "Indie Flower", cursive;
  text-align: center;

  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 0px;
  margin-bottom: 0px;
}

.brandimage {
  width: 100%;
  height: 500px;
}
#products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 500px;
}
.categoryimage {
  width: 15em;
  height: 25rem;
}
.categoryimage:hover {
  width: 16.5rem;
  height: 27rem;
}
p {
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
  font-size: 1.5rem;
}
.offercategory {
  margin: 0 auto;
  border: black 3px double;
}
.offercategory p {
  text-align: center;
  font-family: "Roboto Mono", monospace;
  font-weight: bold;

  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 3px;
}

.socialmediasection {
  background-color: #ffe9e3;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 7px;
  padding-bottom: 7px;
}
.smicon {
  font-size: 28px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  margin-left: 5px;
}

footer {
  color: black;
  font-family: "Indie Flower", cursive;
  text-align: center;
  font-size: 1.3rem;
  margin-top: 2rem;
}

.frontimage {
  min-width: 50%;
}
.aboutussection {
  display: flex;
  flex-direction: row;
}

.aboutussection p {
  font-size: 1.5rem;
  padding: 1rem 1rem;
  margin: 0 auto;
  padding-top: 16.5rem;
}

.contactformimage {
  width: 40%;
  height: 474px;
  margin: 0 auto;
}
.theform {
  margin: 0 auto;
  font-size: 1.5rem;
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
  padding-right: 7em;
}
.placehoder {
  width: 100%;
  height: 1.7em;
  background-color: aliceblue;
  margin-bottom: 2rem;
  border: none;
}
.contactform {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row-reverse;

  margin-top: 3em;
  margin-bottom: 3em;
}

#submitbtn {
  width: 100%;
  height: 2em;
  margin-top: 1.5rem;
  background-color: aliceblue;
  border: none;
  font-size: 1.2rem;
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
}

#submitbtn:hover {
  background-color: #df5f8a;
}
#Message {
  width: 80%;
  height: 20vh;
}
.shooping-cart {
  border: yellow 7px solid;
  display: flex;
  flex-direction: column;
}
.Cart-Container {
  border: #ff007b 3px solid;

}
.Cart-Items {
  border: blue 3px solid;
}

.checkout {
  border: red 3px solid;
}
@media (max-width: 50em) {
  nav {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
  }
  .navbarelements {
    font-family: "Roboto Mono", monospace;
    font-weight: bold;
    text-decoration: none;
    font-size: 1rem;
    margin-left: 0.75rem;
  }
  .brandimage {
    width: 100%;
    height: 300px;
  }
  h1 {
    font-size: 1.5em;
    font-family: "Indie Flower", cursive;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  #products {
    display: grid;
    grid-template-columns: 1fr;
    height: 120em;
  }
  footer {
    color: black;
    font-family: "Indie Flower", cursive;
    text-align: center;
    font-size: 1.3rem;
    margin-top: 2rem;
  }
  .offercategory {
    margin: 7px 9px;
    border: black 2px solid;
  }
  .categoryimage {
    width: 100%;
  }
  .frontimage {
    width: 100%;
    height: 250px;
  }
  .aboutussection {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .aboutussection p {
    font-size: 1rem;
    margin: 0 auto;
    padding-top: 2rem;
  }
  .contactformimage {
    display: none;
  }
  .theform {
    font-size: 1.2rem;
    font-family: "Roboto Mono", monospace;
    font-weight: bold;
  }
  .placehoder {
    width: 100%;
    height: 1.5em;
    background-color: aliceblue;
    margin-bottom: 2rem;
    border: none;
  }
  .contactform {
    border-top: 4px purple double;
    margin: 0 auto;
    padding-bottom: 2em;
  }
}

@media only screen and (min-device-width: 50em) and (max-device-width: 64em) {
  nav {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
  }
  .navbarelements {
    font-family: "Roboto Mono", monospace;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.3rem;
    margin-left: 0.75rem;
  }
  .brandimage {
    width: 100%;
    height: 300px;
  }
  h1 {
    font-size: 1.5em;
    font-family: "Indie Flower", cursive;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  #products {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 60em;
  }
  footer {
    color: black;
    font-family: "Indie Flower", cursive;
    text-align: center;
    font-size: 1.3rem;
    margin-top: 2rem;
  }
  .offercategory {
    margin: 7px 9px;
    border: black 2px solid;
  }
  .categoryimage {
    width: 100%;
  }
  .frontimage {
    width: 80%;
    height: 350px;
    margin: 0 auto;
  }
  .aboutussection {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .aboutussection p {
    font-size: 1rem;
    margin: 0 auto;
    padding-top: 2rem;
    width: 80%;
  }
  .contactformimage {
    width: 45%;
    margin-top: 4rem;
  }
  .theform {
    margin: 0 auto;
    padding-top: 3rem;
    font-size: 1rem;
    font-family: "Roboto Mono", monospace;
    font-weight: bold;
  }
  .placehoder {
    width: 100%;
    height: 1.4em;
    background-color: aliceblue;
    margin-bottom: 2rem;
  }
  .contactform {
    border-top: 4px purple double;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    margin: 0 auto;
    padding-bottom: 2rem;
  }
}
